/* application css */
 body{ margin: 0; padding: 0 }
#main {font-size:200%;}
.hl {color:red;}
.ire {text-decoration: underline}
.CodeMirror {font-size:150%;}
.cm-invalidchar {}
.CodeMirror-hints {font-size:300%};